body {
  /* background-image: url('https://i.pinimg.com/originals/e5/68/eb/e568eb12a0b19281f72fa0cc65162cb5.jpg'); */
  /* background-image: url('https://cdn.pixabay.com/photo/2022/06/20/14/20/space-7273891_960_720.jpg'); */
  /* background-image: url('https://static.vecteezy.com/system/resources/previews/002/623/564/original/abstract-perspective-green-grid-retro-futuristic-neon-line-on-dark-background-80s-design-perspective-distorted-plane-landscape-composed-of-crossed-neon-lights-and-laser-beams-illustration-vector.jpg');*/
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/597/461/non_2x/abstract-dark-hexagon-pattern-on-green-and-blue-neon-light-background-technology-style-modern-futuristic-geometric-shape-web-banner-design-you-can-use-for-cover-template-poster-flyer-print-ad-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div {
  color: #fff;
}