.navbar-color {
  background: #021636;
}

.my-link-light {
  color: white !important;
}

.my-link-light:hover,
.my-link-light:focus {
  color: #30aaca !important;
}

/* Set the border color */

.custom-toggler.navbar-toggler {
  border-color: #30aaca !important;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(48, 170, 202, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}